
//COLORS
$text-dark: #41505c;
$yellow-pk: #ffd642;
$blue-pk:  #15d7ee;
$purple-pk: #8d62ff;
$pink-pk: #ff3676;



.box-block-yellow{
  border-radius: 10px !important;
  padding: 35px 10px 35px 10px !important;
  background-color: #fff9e2 !important;
  border:1px solid #ffd642 !important;

  p{
    color: $text-dark !important;
    font-size:16px !important; 
    word-wrap: break-word !important;    
  }  
  
}

.box-block-gray{
  border-radius: 10px !important;
  padding: 35px 10px 35px 10px !important;
  background-color: #eeeeee !important;

  p{
    color: $text-dark !important;
    font-size:16px !important; 
    word-wrap: break-word !important;    
  }  	
}

.header-default{
  background-color: #EEE !important;
}


//// ### BUTTONS #### ////

table.button.button-pk-yellow table td{
  background-color: $yellow-pk !important;
  letter-spacing: 0.1em !important;
  line-height: 20px !important;
  text-align: center !important;
  a{
    text-align: center !important;
  }
  span{
    color: $text-dark !important; 
  }
}

table.button.button-pk-blue table td{
  background-color: $blue-pk !important;
  letter-spacing: 0.1em !important;
  line-height: 20px !important;
  a{
    text-align: center !important;
  }  
  span{
    color: $text-dark !important; 
  }
}

table.button.button-pk-purple table td{
  background-color: $purple-pk !important;
  letter-spacing: 0.1em !important;
  line-height: 20px !important;
  a{
    text-align: center !important;
  }  
  span{
    color: #FFFFFF !important; 
  }
}

table.button.button-pk-pink table td{
  background-color: $pink-pk !important;
  letter-spacing: 0.1em !important;
  line-height: 20px !important;
  a{
    text-align: center !important;
  }  
  span{
    color: #FFFFFF !important; 
  }
}