.box-block-yellow{
  border-radius: 10px !important;
  padding: 35px 10px 35px 10px !important;
  background-color: #fff9e2 !important;
  border:1px solid #ffd642 !important;

  p{
    color: $text-dark !important;
    font-size:16px !important; 
    word-wrap: break-word !important;    
  }  
  
}

.box-block-gray{
  border-radius: 10px !important;
  padding: 35px 10px 35px 10px !important;
  background-color: #eeeeee !important;

  p{
    color: $text-dark !important;
    font-size:16px !important; 
    word-wrap: break-word !important;    
  }  	
}