//### email: CRM D0 - TRIAL ###

// Body Styles 


$text-dark: #41505c;
$yellow-pk: #ffd642;
$blue-pk:  #15d7ee;

body,
html, 
.body {
  background: #EEEEEE !important;
  word-wrap: break-word !important;
}

.container.header {
  background: #EEEEEE;
}

.container.header p {
  font-size: 12px;
  color: #333333; 
}

.body-drip {
  word-wrap: break-word !important;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
  word-wrap: break-word !important;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

// ####################    CUSTOM     ##################### // 


.open-browser{
    font-size:14px !important;
    @media only screen and (max-width: #{$global-breakpoint}) {
    font-size:12px !important;
  }
}

.font-bold{
  font-weight: 700;
}

.email-placeholder-ass{
  color:#41505c !important;
  background-color: #FFF;
  border-radius: 10px !important;
  border: none !important; 
  width:98% !important;
  padding:10px 0px 10px 0px !important;
  font-size:18px !important;
}

.d0-install-title {
    color: $text-dark !important;
    font-size:22px !important;
    font-weight: 900 !important;
    word-wrap: break-word !important;      
}

.sub-title{
  color: #ff3676 !important;
  font-size:22px !important;  
  font-weight: 900 !important; 
  word-wrap: break-word !important;  
}

.color-father{
  color: #13C0D7 !important;
}

.text__dark{
  color:$text-dark !important;
}

.forgot-pass-2{
  a{
      color:#FFF !important;
      text-decoration: underline !important;
    }
}

p{
  font-size:16px !important;
  color:#41505c; 
  word-wrap: break-word !important;
}

.button-pk-d0-install{
  font-size:14px !important;
  font-weight:900 !important;
  border-radius:100px !important;
  background-color: $yellow-pk !important;
  padding: 20px 40px 20px 40px !important;
  color:$text-dark!important;   
  word-wrap: break-word !important;
  letter-spacing: 0.1em !important;
}


ul{
  padding:0 !important;
  list-style:none !important;
}

li{
  font-size:16px;
}

ul li{
  padding:0 0 10px 0 !important;
}

.divider{
  width: 500px !important;
  height: 18px !important;
}

.ico-resp{
    width:38px !important;
    height:38px !important;
}


.divisao-1{
    width:580px !important;
}

.text-usubs{

  color:#C6C5C5 !important;
  a{
    color:#C6C5C5;
  }
}

.content__down{
  width:488px !important;
}

.install-d0-color-bg{
  background-color: #ffd642 !important;
}

.install-d0-color-bg-2{
  background-color: $blue-pk !important;
}
.div-2-color-bg{
  background-color: #ffd642 !important;
}



.footer{
  p{
    word-wrap: break-word !important;
    a{
      color:#ff3676 !important;
      text-decoration:none !important;
      text-transform: none !important;
    }
    strong{
      color:#ff3676 !important;
    }
  }
}


.title2-install-d0{
  @extend .title-now;
  color:$text-dark !important;
}
.title3-install-d0{
  @extend .title-now;
  color:$text-dark !important;
}

.socialize{
  color: #41505c !important;
}
h6{
  color: #41505c !important;
}
.thumb-jao{
  width:76px !important;
  height:77px !important;
}


.header-install-d0{
  background-color: #EEE !important;
}
.micro-bar-divide{
  width: 34px !important;
  height: 3px !important;
  border-radius: 100px !important;
  background-color: #ffd642 !important;
  display: block !important;
}
