//### email: CRM D0 - TRIAL ###


//CUSTOM//

.trial-d0-color-bg{
  background-color: #2EB4F8;
}

//-------------OLD CSS---------------//

// Body Styles 
body,
html, 
.body {
  background: #EEEEEE !important;
  word-wrap: break-word !important;
}

.container.header {
  background: #EEEEEE;
}

.container.header p {
  font-size: 12px;
  color: #333333; 
}

.body-drip {
  word-wrap: break-word !important;
}


// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
  word-wrap: break-word !important;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

// CUSTOM  // 

.trial-d0-color-bg{
  background-color: #2EB4F8;
}

.font-bold{
  font-weight: 700;
}

.email-placeholder-trial{
  color:#41505c !important;
  background-color: #eeeeee !important;
  border-radius: 10px !important;
  width:98% !important;
  padding:20px 0px 20px 0px !important;
  font-size:18px !important;
}

.welcome-title{
    color:#41505c !important;
    font-size:22px !important;
    font-weight: 900 !important;
    word-wrap: break-word !important;      
}

.sub-title{
  color: #ff3676 !important;
  font-size:22px !important;  
  font-weight: 900 !important; 
  word-wrap: break-word !important;  
}

.color-father{
  color: #13C0D7 !important;
}

.forgot-pass{
  a{
      color:#ff3676;
    }
}

p{
  font-size:16px !important;
  color:#41505c; 
  word-wrap: break-word !important;
}

.button-pk{
  font-size:13px !important;
  font-weight:700 !important;
  border-radius:100px !important;
  background-color: #ff3676 !important;
  padding: 20px 40px 20px 40px !important;
  color:#FFF !important;   
  word-wrap: break-word !important;
}

.clickhere{
  text-decoration: underline !important;
  font-weight:700;
}

ul{
  padding:0 !important;
  list-style:none !important;
}

li{
  font-size:16px;
}

ul li{
  padding:0 0 10px 0 !important;
}

.ico-check{
  width:10px !important;
  height:8px !important;
  margin-top:5px!important;
  padding-right:8px !important;
}

.divider{
  width: 500px !important;
  height: 18px !important;
}

.ico-resp{
    width:38px !important;
    height:38px !important;
}


.header-crm{

    width:580px !important;
  
}

.text-usubs{
  color:#C6C5C5 !important;
  a{
    color:#C6C5C5;
  }
}

@mixin box-color-content($color) {
  max-width: 90% !important;
  border-radius: 10px !important;
  padding: 35px 10px 15px 10px !important;
  background-color: $color !important;
  border:none !important;
  p{
    font-size:16px !important; 
    word-wrap: break-word !important;   
 
  }
}

.box1{
  @include box-color-content(#ff3676);
}
.box2{
  @include box-color-content(#8d62ff);
}
.box3{
  @include box-color-content(#15d7ee);
}
.box4{
  @include box-color-content(#ffd642);
}

.footer{
  p{
    word-wrap: break-word !important;
    a{
      color:#ff3676 !important;
      text-decoration:none !important;
      text-transform: none !important;
    }
    strong{
      color:#ff3676 !important;
    }
  }
}

.title-now{
     color:#41505c !important;
     font-size:22px !important;
     width:100%;      
     font-weight: 900 !important; 
     word-wrap: break-word !important;  
}

.socialize{
  color: #41505c !important;
}
h6{
  color: #41505c !important;
}
.thumb-jao{
  width:76px !important;
  height:77px !important;
}

