
// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
  word-wrap: break-word !important;
}

table td{
  hyphens: none !important;
  word-break: normal !important;
}

.container.header {
  background: #f3f3f3;
}

.container.header p {
  font-size: 12px;
  color: #333333; 
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}


// CUSTOM

.font-bold{
  font-weight: 700;
}

.email-placeholder{
  color: #4990E2;
}

.welcome-title{
  color:#01A8E7;
}


.color-father{
  color: #13C0D7 !important;
}

p{
  font-size:16px;
}

.button-pk{
  font-size:13px !important;
  font-weight:700 !important;
  border-radius:100px !important;
  background-color: #4990E2 !important;
  padding: 18px 20px 17px 20px !important;
  color:#FFF !important; 
  max-width: 10px !important;
}

.dino{
  width:252px !important;
  height:240px !important;
}
.clickhere{
  text-decoration: underline !important;
  font-weight:700;
}
.photo-children{
  width:186px !important;
  height:196px !important;
}

.photo-father{
  width:194px !important;
  height:226px !important;
}

.star-bullet{
  padding-top: 4px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}

ul{
  padding:0 !important;
  list-style:none !important;
}

li{
  font-size:16px;
}

ul li{
  padding:0 0 10px 0 !important;
}

.ico-check{
  width:10px !important;
  height:8px !important;
  margin-top:5px!important;
  padding-right:8px !important;
}

.divider{
  width: 500px !important;
  height: 18px !important;
}

.ico-resp{
  width:34px !important;
  height:34px !important;
}

.hd2{
  background-color: #6638F0 !important;
}

.children{
  color:#FFEF03;
}

.info{
  color:white;
}

.thumb-perso{
  width:70px !important;
  height:66px !important;
  padding-right:10px;
}

.text-small{
  font-size:12px;
}

table.button table td{
  border:none;
  border-radius:100px !important;
  background-color: #E90878 !important;
  padding: 10px;
  
}
.primary{
  background-color:#52C1EF !important;
  border-color:#52C1EF !important;
}
.text-footer{
  color:#FFF !important;
}
.text-commnents{
  color: #000 !important;
  margin-bottom: 0px;
  margin-right: 12%;
}
.name-comments{
  color: #01A8E7 !important;
  margin-bottom: 0px;
  margin-right: 12%;
}

.testimonials{
  border: 1px solid #CFCFCF;
  background-color:#FFF;
  border-radius:10px !important;
  max-width:70%;
  padding:20px;
}
.bullet-comments{
  margin-left: 50%;
  margin-top:-2px !important; 
}
table.callout {
  margin-bottom: 0px !important;
}

.links a{
  color:#FFEF03 !important;
}
.title-btn{
  font-size: 25px !important;
}

.uppercase-texts{
  text-transform: uppercase;
}


// colors boxes

$colorbox1: #F97615; 
$colorbox2: #52C1EF;
$colorbox3: #369B35;
$colorbox4: #ED3E78;
$colorbox5: #6638F0;
$colorbox6: #52C1EF;



@mixin box($color){
  border: solid 1px $color !important;
  border-radius: 7px !important;
}

@mixin learning($color){
  @extend .uppercase-texts;
  color: $color;
  font-weight:900;
  font-size:13px;
}

.box1{
  @include box($colorbox1);
}

.box2{
  @include box($colorbox2);
}

.box3{
  @include box($colorbox3);
}

.box4{
  @include box($colorbox4);
}

.box5{
  @include box($colorbox5);
}

.box6{
  @include box($colorbox6);
}

.box .thumb{
  width: 70px !important; 
  height: 66px !important;
}

.box .bar{
  width: 176px !important; 
  height: 14px !important;
}

.box h3{
  font-size: 40px;
  font-weight: 900;
}

.title-box{
  @extend .uppercase-texts;
  font-weight: 900;
}

.what-the-learning{
  @extend .uppercase-texts;
  font-size: 14px;
  font-weight: 900;
  color: #6E0087;
}

.learn1{
  @include learning($colorbox1);
}

.learn2{
  @include learning($colorbox2);
}

.learn3{
  @include learning($colorbox3);
}

.learn4{
  @include learning($colorbox4);
}

.learn5{
  @include learning($colorbox5);
}

.learn6{
  @include learning($colorbox6);
}

.hd1{
  background-color: #6E1DA3;
}

.hd1 h5{
  color: #FFF !important;
}

.box .ico-padlock{
  width: 12px !important; 
  height:16px !important;
  margin:12px 16px 0 0;
  text-align: right;
}

.about{
  background-color:#01A8E7 !important;
  border-color:#01A8E7 !important;
}

.shape{
  padding-bottom:0px !important;
}

.shape img{
  width: 230px !important;
  height: 38px !important;
  text-align: center !important;
}

.about h3{
  margin:-30px 0 0 0 !important;
  padding:0 !important;
  color: #FFF !important;
}

.text-contact{
  color:#000;
}

